seafile:
  # Image configuration
  image: seafileltd/seafile-mc
  replicas: 1

  # Init container configuration
  initContainer:
    image: busybox

  # Resources
  resources: {}

  # Extra environment variables
  extraEnv:
    - name: SEAFILE_MYSQL_DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: seafile-secret
          key: SEAFILE_MYSQL_DB_PASSWORD
    - name: DB_ROOT_PASSWD
      valueFrom:
        secretKeyRef:
          name: seafile-secret
          key: INIT_SEAFILE_MYSQL_ROOT_PASSWORD
    - name: CSRF_TRUSTED_ORIGINS
      value: "https://files.wiji.dev"
    - name: ALLOWED_HOSTS
      value: "files.wiji.dev"
    - name: FORCE_HTTPS_IN_CONF
      value: "true"
  extraVolumes: []

  # Persistent volume configuration
  persistence:
    enabled: true
    storageClassName: ""
    size: 10Gi

  # Ingress configuration
  ingress:
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod

  # Main environment variables
  env:
    SEAFILE_SERVER_HOSTNAME: "files.wiji.dev"
    SEAFILE_SERVER_PROTOCOL: "https"
    DB_HOST: "seafile-mysql"
    SEAFILE_MYSQL_DB_HOST: "seafile-mysql"
    REDIS_HOST: "127.0.0.1"
    INIT_SEAFILE_ADMIN_EMAIL: "admin@seafile.example.com"

  # Default
  presetEnv:
    # for Seafile server
    - name: TIME_ZONE
      value: "UTC"
    - name: SEAFILE_LOG_TO_STDOUT
      value: "true"
    - name: SITE_ROOT
      value: "/"
    - name: SEAFILE_SERVER_HOSTNAME
    - name: SEAFILE_SERVER_PROTOCOL
      value: "https"

    # for database
    - name: DB_HOST
    - name: SEAFILE_MYSQL_DB_HOST
    - name: DB_ROOT_PASSWD
      value: "seafile"
    - name: SEAFILE_MYSQL_DB_PASSWORD
      value: "seafile"
    - name: SEAFILE_MYSQL_DB_PORT
      value: "3306"
    - name: SEAFILE_MYSQL_DB_USER
      value: "seafile"
    - name: SEAFILE_MYSQL_DB_CCNET_DB_NAME
      value: "ccnet_db"
    - name: SEAFILE_MYSQL_DB_SEAFILE_DB_NAME
      value: "seafile_db"
    - name: SEAFILE_MYSQL_DB_SEAHUB_DB_NAME
      value: "seahub_db"

    # for cache
    - name: CACHE_PROVIDER
      value: "redis"

    ## for redis
    - name: REDIS_HOST
      allowEmpty: true
    - name: REDIS_PORT
      value: "6379"

    ## for memcached
    - name: MEMCACHED_HOST
      allowEmpty: true
    - name: MEMCACHED_PORT
      value: "11211"

    # for notification
    - name: ENABLE_NOTIFICATION_SERVER
      value: "false"
    - name: NOTIFICATION_SERVER_URL
      allowEmpty: true

    # for seadoc
    - name: ENABLE_SEADOC
      value: "false"
    - name: SEADOC_SERVER_URL
      allowEmpty: true

    # for Seafile AI
    - name: ENABLE_SEAFILE_AI
      value: "false"
    - name: SEAFILE_AI_SERVER_URL
      allowEmpty: true

    # for Metadata server
    - name: MD_FILE_COUNT_LIMIT
      value: "100000"

    # initialization

    ## for Seafile admin
    - name: INIT_SEAFILE_ADMIN_EMAIL
      initValue: true

# MySQL configuration
mysql:
  image: mysql:8.0
  database: seafile
  user: seafile

  # Persistent volume configuration
  persistence:
    size: 8Gi
    storageClassName: ""

  # Resource limits
  resources:
    limits:
      memory: "512Mi"
      cpu: "500m"
    requests:
      memory: "256Mi"
      cpu: "250m"

  # MySQL configuration
  config:
    defaultAuthenticationPlugin: mysql_native_password
