seafile:
  initMode: false
  configs:
    image: seafileltd/seafile-mc
  secretsMap: {} # seafile services secrets env, object

  # extra infomations object(frontend, backend)
  extraResources: {}
  extraEnv: []
  extraVolumes: []

  ingress:
    ingressClassName: traefik

  config:
    seafileDataVolume:
      disablePVC: false
  env:
    SEAFILE_SERVER_HOSTNAME: "files.wiji.dev"

    SEAFILE_MYSQL_DB_HOST: "seafile-mysql"
    REDIS_HOST: "seafile-mysql"
    CLUSTER_INIT_ES_HOST: "seafile-mysql"

    INIT_SEAFILE_ADMIN_EMAIL: "admin@seafile.example.com"

  # Default
  presetEnv:
    # for Seafile server
    - name: TIME_ZONE
      value: "UTC"
    - name: SEAFILE_LOG_TO_STDOUT
      value: "true"
    - name: SITE_ROOT
      value: "/"
    - name: SEAFILE_SERVER_HOSTNAME
    - name: SEAFILE_SERVER_PROTOCOL
      value: "https"

    # for database
    - name: SEAFILE_MYSQL_DB_HOST
    - name: SEAFILE_MYSQL_DB_PORT
      value: "3306"
    - name: SEAFILE_MYSQL_DB_USER
      value: "seafile"
    - name: SEAFILE_MYSQL_DB_CCNET_DB_NAME
      value: "ccnet_db"
    - name: SEAFILE_MYSQL_DB_SEAFILE_DB_NAME
      value: "seafile_db"
    - name: SEAFILE_MYSQL_DB_SEAHUB_DB_NAME
      value: "seahub_db"

    # for cache
    - name: CACHE_PROVIDER
      value: "redis"

    ## for redis
    - name: REDIS_HOST
      allowEmpty: true
    - name: REDIS_PORT
      value: "6379"

    ## for memcached
    - name: MEMCACHED_HOST
      allowEmpty: true
    - name: MEMCACHED_PORT
      value: "11211"

    # for notification
    - name: ENABLE_NOTIFICATION_SERVER
      value: "false"
    - name: NOTIFICATION_SERVER_URL
      allowEmpty: true

    # for seadoc
    - name: ENABLE_SEADOC
      value: "false"
    - name: SEADOC_SERVER_URL
      allowEmpty: true

    # for Seafile AI
    - name: ENABLE_SEAFILE_AI
      value: "false"
    - name: SEAFILE_AI_SERVER_URL
      allowEmpty: true

    # for Metadata server
    - name: MD_FILE_COUNT_LIMIT
      value: "100000"

    # initialization

    ## for Seafile admin
    - name: INIT_SEAFILE_ADMIN_EMAIL
      initValue: true
